body {
    background-color: #F4F7F9;
    color: #2B3655;
    font-size: 87.5%; /*87 la suta din 14px*/
    font-family: 'Source Sans Pro';
    line-height: 1.5;
    text-align: left;
}

.body {
   margin: 0 auto;
    clear: both; /*no floating elements left right*/

}

.mainContent {
    overflow: hidden;
    position: relative;
    float: left;
    top: 50px;
    bottom: 0px;
    left: 15%;
    right: 0px;
    padding: 0px 10px;
    overflow: auto;
}

.sideNav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F4F7F9;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #2B3655;
    display: block;
}

.topNav {
    width: 100%;
    height: 50px;
    position: fixed;
    padding-left: 15%;
    text-decoration: none;
    font-size: 25px;
    background-color: #4E5F70 ;
    overflow: hidden;
}

.topNav a {
    float: left;
    display: block;
    text-decoration: none;
    font-size: 20px;
}

.topNav input[type=text] {
    float: left;
    border: none;
    width: 50%;
    padding: 6px;
    margin-top: 10px;
    margin-right: 16px;
    margin-left: 10px;
    font-size: 15px;
}

.map {
    width: auto;
}

.searchIcon {
    width: 30px;
    float: left;
    padding: 6px;
    margin-left: 10px;
    margin-top: 4px;
    color: #fff;
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    border-bottom: 1px solid white;
    padding-left: 30px;
    line-height: 60px;
}

ul li:hover {
    background-color: #57C3E8 ;
}

ul li a {
    text-decoration: none;
    color: #2B3655;
    display: block;
    line-height: 60px;
}
