body{
	margin: 0;
	padding: 0;
	background-color: #e4e4e4;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
.login-box{
	width: 400px;
	height: 500px;
	background-color: #f4f7f9;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;

}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 32px;
	color: #4f5f6f;
}
.login-box p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #4f5f6f;
}
.login-box input{
	width: 100%;
	margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #4f5f6f;
	background-color: #f4f7f9;
	outline: none;
	height: 40px;
	color: #4f5f6f;
	font-size: 16px;
}
.login-box button[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #1c8adb;
	color: #fff;
	border-radius: 4px;
}
.login-box a{
	text-decoration: none;
	font-size: 14px;
	color: #4f5f6f;
	padding: 10px 10px;
	display: block;
}
@media screen and (max-width:  768px){
	.login-box {
		margin-top: 20px;
		width: 90%;
	}
	
}