<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="register.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<div class="welcome">
		<h1>Join our community</h1>
	</div>
	<form>
		<div class="register-box">
			<h1>Sign up</h1>

			<p>Name</p>
			<input type="text" placeholder="Name">

			<p>Country</p>
			<input type="text" placeholder="Country">

			<p>Username</p>
			<input type="text" placeholder="Username">

			<p>Email addres</p>
			<input type="email" placeholder="Email">

			<p>Password</p>
			<input type="password" placeholder="Password">

			<p>Confirm Password</p>
			<input type="password" placeholder="Confirm Password">

			<input type="submit" name="submit" value="Sign up">

			<a href="login.html"><em>Already have an account here?</em></a>
			<a href="intro.html"><em>Go back</em></a>
		</div>
	</form>
</body>
</html>